.info {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 32px 40px;
}

.info ion-icon {
    position: relative;
    top: -2px;
}

@media (max-width: 900px) {
    .info {
        padding: 32px 20px;
    }
}